<h1>This is the private user page</h1>
<h1>{{client.username}}</h1>

<a href="/private/profile/edit">Edit your profile</a>
<a href="/auth/logout">Logout</a>

<form action="/private/profile/delete" method="POST">
    <button type="submit">Delete user</button>
</form>