<h1>Hi</h1>
<p>Welcome to Eventruck</p>

<a href="/auth">sign up</a>
<a href="/auth/login">Login</a>
<a href="/foodtruck-list">View all foodtrucks</a>

<form action="" method="GET">
  <div class="foodtruck-search">
    <div class="search-element">
      <label class="search-label">Type of food</label>
      <select name="search-input">
        <option value="vegan">Vegan</option>
        <option value="vegetarian">Vegetarian</option>
        <option value="nonalcohol">Non Alcohol</option>
        <option value="asian">Asian</option>
        <option value="med">Mediterranian</option>
        <option value="sushi">Sushi</option>
      </select>
    </div>
    <div class="search-element">
      <label class="search-label">Where are you looking?</label>
      <select name="search-input">
        <option value="bcn">Barcelona</option>
        <option value="gir">Girona</option>
        <option value="llei">Lleida</option>
        <option value="tarr">Tarragona</option>
      </select>
    </div>
    <div class="search-element">
      <label class="search-label">When</label>
      <input class="search-input" type="date" placeholder="Date" class="" name="date">
    </div>
    <a type="submit" class="search-button">Search</a>
  </div>
</form>