<div class="foodtruck-details">
    <h1 class="foodtruck-details-h1">{{foodtruck.name}}</h1>
    <div class="foodtruck-details-div">
        <img class="foodtruck-details-img" src="{{foodtruck.image}}" alt="foodtruck-image">
        <p class="foodtruck-details-p">{{foodtruck.description}}</p>
    </div>
</div>
