<h1>This is the foodtruck list!</h1>
{{#each foodtrucks}}
<div class="card" style="width: 18rem;">
  <img src="{{this.image}}" class="card-img-top" alt="foodtruck-image">
  <div class="card-body">
    <h5 class="card-title">{{this.name}}</h5>
    <p class="card-text">{{this.description}}</p>
    <a href="/results/{{this.id}}" class="btn btn-primary">Show details</a>
  </div>
</div>
{{/each}}
<a href="/">back</a>

