<h1>Sign up as client</h1>

<form action="/auth/client" method="POST">
    <label for="username">Username:</label>
    <input type="text" name="username">
    <label for="email">Email:</label>
    <input type="text" name="email">
    <label for="password">Password:</label>
    <input type="password" name="password">
    <label for="image">Upload a profile image:</label>
    <input type="text" name="image">
    <h3>Preferences:</h3>
    <label for="vegan">Vegan</label>
    <input type="checkbox" name="vegan">
    <label for="vegetarian">Vegetarian</label>
    <input type="checkbox" name="vegetarian">
    <button>Sign In</button>
</form>

<a href="/signup">Back to signup</a>