<h1>Sign up as client</h1>

<form action="/auth/client" method="POST" enctype="multipart/form-data">
    <label for="username">Username:</label>
    <input type="text" name="username">
    <label for="email">Email:</label>
    <input type="text" name="email">
    <label for="password">Password:</label>
    <input type="password" name="password">
    <label for="image">Upload a profile image:</label>
    <input type="file" name="image">
    
    <button>Sign Up</button>
</form>

<a href="/auth">Back to signup</a>