<h1>Sign up as owner</h1>
<a href="/auth">Back to signup</a>

<div class="form-container">

    <form class="signup" action="/auth/owner" method="POST" enctype="multipart/form-data">

        <div class="row mb-3">
            <label for="username" class="col-sm-2 col-form-label">Username</label>
            <div class="col-sm-10">
                <input type="text" name="username" class="form-control" id="inputEmail3" required>
            </div>
        </div>
        <div class="row mb-3">
            <label for="email" class="col-sm-2 col-form-label">Email</label>
            <div class="col-sm-10">
                <input type="email" name="email" class="form-control" id="inputEmail3"required>
            </div>
        </div>
        <div class="row mb-3">
            <label for="password" class="col-sm-2 col-form-label">Password</label>
            <div class="col-sm-10">
                <input type="password" name="password" class="form-control" id="inputPassword3" required>
            </div>
        </div>
        <div class="row mb-3">
            <label for="image" class="col-sm-2 col-form-label">Upload a profile image:</label>
            <div class="col-sm-10">
                <input type="file" name="image" class="form-control" id="inputPassword3" required>
            </div>
        </div>
        <div class="row mb-3">
            <label for="NIF" class="col-sm-2 col-form-label">NIF</label>
            <div class="col-sm-10">
                <input type="text" name="NIF" class="form-control" id="inputPassword3" required>
            </div>
        </div>
        <div class="row mb-3">
            <label for="mobilephone" class="col-sm-2 col-form-label">Mobilephone</label>
            <div class="col-sm-10">
                <input type="tel" name="mobilephone" class="form-control" id="inputPassword3" required>
            </div>
        </div>

        <button type="submit" class="btn btn-primary">Sign in</button>
    </form>
</div>
